<!DOCTYPE html>
<html>
<head>
  <title>About Page<title>
</head>
<body>
  <main>
    <h2>About</h2>
    <p>Arianne Kornmann</p>
    <p>The purpose of my site is to keep track on the threatened species around the world.
      On this site, you can find different aspects of the threatened species.
      For example, they can be categorized by country, habitat, threats, and individual species.</p>
    <p><a href="https://github.com/it-sd/sqc-project-akornmann123">GitHub</a></p>
  </main>
</body>
</html>
      
